beautifulsoup4==4.5.1
blinker==1.3
Brlapi==0.6.4
chardet==2.3.0
click==6.6
colorama==0.3.7
cryptography==1.5
cupshelpers==1.0
cycler==0.10.0
Cython==0.23.4
debocker==0.2.1
decorator==4.0.6
defer==1.0.6
devscripts==2.16.6
Django==1.11.29
django-session-security==2.3.2
file-magic==0.3.0
Flask==0.11.1
h5py==2.6.0
html5lib==0.999
idna==2.1
iotop==0.6
ipython==2.4.1
itsdangerous==0.24
jdcal==1.0
Jinja2==2.8
joblib==0.9.4
Keras==1.0.7
louis==2.6.5
lxml==3.6.0
Mako==1.0.4
MarkupSafe==0.23
matplotlib==1.5.2rc2
mysql-connector-python==2.1.3
mysqlclient==1.3.7
netaddr==0.7.18
networkx==1.11
nltk==3.2.1
nose==1.3.7
nose-parameterized==0.3.4
notify2==0.3
numexpr==2.6.0
numpy==1.11.1rc1
openpyxl==2.3.0
pandas==0.18.1
pexpect==4.2.0
Pillow==3.3.0
protobuf==3.0.0
psycopg2==2.6.2
ptyprocess==0.5.1
py==1.4.31
pyasn1==0.1.9
pycodestyle==2.2.0
pycups==1.9.73
pydot==1.0.29
pyflakes==1.3.0
Pygments==2.1.3
pygobject==3.20.1
pygpu==0.2.1
pyinotify==0.9.6
pyOpenSSL==16.0.0
pyparsing==2.1.8
pysmbc==1.0.15.5
pytest==2.9.2
python-apt==1.1.0b4
python-dateutil==2.4.2
python-debian==0.1.29
python-redmine==1.5.1
pytz==2015.7
pyxdg==0.25
PyYAML==3.11
pyzmq==15.2.0
reportlab==3.3.0
requests==2.10.0
scikit-image==0.12.3
scikit-learn==0.17.1
scipy==0.17.1
setproctitle==1.1.8
simplegeneric==0.8.1
simplejson==3.8.2
six==1.10.0
SQLAlchemy==1.0.14
sqlparse==0.1.18
tables==3.2.2
Theano==0.8.2
tornado==4.4.1
unattended-upgrades==0.1
Unidecode==0.4.19
urllib3==1.15.1
virtualenv==15.0.3
Werkzeug==0.11.10
